racine {
	display: block;
	margin-top:45px;
	margin-left: 30% ;
	margin-right: 10% ;	
	font-family:Arial,sans-serif; color:maroon;
	font-size:60pt;
	background:url(montagnes.gif) repeat-x;
	}
P {
	display: block;
	margin-top:200px;
	margin-left: -30% ;
	font-size: x-large;
}
I {
	display: block;
	margin-left: 10% ;
	font-size: x-large;
}
personne:before {
	margin-left: -40% ;
	font-family : sans-serif;
	font-size: x-large;
	font-weight:bold;
	content:"Une personne classe";
	}
personne {
	margin-left: 30% ;
	margin-right: 10% ;	
}

nom {
	display: block;
	margin-left: -8% ;
	margin-top: 2em;
	margin-bottom: 1em;
	font-family : sans-serif;
	font-size: large;
	color:navy;
	background-color:#bbbbbb;
	/*
	 * #ff00ff
	 */
}
nationalite {
	display: block;
	margin-top: 0.5em ;
	margin-left: +4% ;
	font-family : serif;
	font-size: medium;
	border-left: solid;
	border-left-width: medium;
	border-color: red ;
	padding-left: 1em;
	text-align: justify;
}